{
    "store_time": 259200,
    "video_duration": 360,
    "data_path": "D:\\data",
    "clean_interval": 360,    
    "cameras": [
        {
            "protocal": "rtsp",
            "ip": "192.168.1.4",
            "port": "554",
            "name": "kh_quan_1",
            "account": "admin",
            "password": "xxx",
            "sub_url": "/H.264"
        }
    ]
}